.place__title {
  margin: 0;
  color: #fff;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

@media screen and (max-width: 769px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 426px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    padding-inline-start: 16px;
  }
}
