.footer__link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin-inline-end: 18px;
  transition: opacity 0.5s ease;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 580px) {
  .footer__link {
    padding-block-end: 32px;
    font-size: 24px;
    line-height: 24px;
  }
}
