.cover {
  background-image: url("../../images/cover-trains.jpg");
  background-repeat: no-repeat;
  max-width: 1184px;
  background-size: cover;
}

@media screen and (max-width: 1025px) {
  .cover {
    width: 100%;
  }
}
