.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: repeat(2, auto);
  column-gap: 40px;
  row-gap: 48px;
  margin-block-end: 80px;
}

@media screen and (max-width: 1025px) {
  .place {
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
  }
}

@media screen and (max-width: 769px) {
  .place {
    margin-block-end: 73px;
    column-gap: 28px;
  }
}

@media screen and (max-width: 640px) {
  .place {
    grid-template-columns: 1fr;
    margin-block-end: 50px;
    grid-template-rows: repeat(4, max-content);
    row-gap: 32px;
  }
}
