.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1025px) {
  .footer {
    width: 90.6%;
  }
}

@media screen and (max-width: 769px) {
  .footer {
    width: 93.8%;
  }
}

@media screen and (max-width: 580px) {
  .footer {
    width: 90%;
    flex-direction: column;
    justify-content: flex-start;
  }
}
