.place__url-heading {
  color: #aaa;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 769px) {
  .place__url-heading {
    margin: 0 0 12px;
  }
}
